# Copyright (C)
# See LICENSE file for extended copyright information.
# This file is part of the repository from https://github.com/remyCases/GuaranteedUniques.

# do not include obj and bin folders

obj
bin